 /**
  * Custom CSS for project theme 
  */
/*---------------------------------------------*/

h2.block__title, .block__title {
  /* Hide block titles by default, in a screen-reader friendly fashion */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  word-wrap: normal;
}
